[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
luckpay = "5pDvSp5GGScmM4Wy3YK5mioe91mPMs62CoC8w2ps7KeP"

[programs.devnet]
luckpay = "5pDvSp5GGScmM4Wy3YK5mioe91mPMs62CoC8w2ps7KeP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
