@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wallet-adapter-button {
  background: linear-gradient(135deg, #9945FF, #14F195) !important;
  border: none !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
}

.wallet-adapter-button:hover {
  background: linear-gradient(135deg, #8040e6, #0dd186) !important;
}